.container {
 text-align: center;
 width:25%;
 margin: 0 auto;
 border: 1px solid red; 
}

p{
    line-height:1.5;
    margin: 10px 0;
}

.container{
    border:1px solid black;
    background-image:url(poki.jpg);
    background-size: cover;
    background-position: top;
    padding: 30px;
    border-top-left-radius: 10px;
}

.details{
    border:1px solid white;
    color: black;
    padding: 50px;
}

/*
.container{
position: relative;
width:300px;
height: 500px;
background-image: url(https://cdn.dribbble.com/users/6245075/screenshots/16269935/pokeball.png);
background-size: cover;
background-position: center;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0,0,0,5);
overflow: hidden;
}
*/
.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

